<div class="wrapper flex-col pt-20 pb-[145px]">
    <div class="flex flex-col lg:flex-row justify-between w-full lg:items-end mb-20">
        <div class="heading !text-left !mb-0">
            <h5>BLOG</h5>
            <h2>Dive into our insights & advices</h2>
        </div>
        <a href="#" class="flex items-center text-textColor relative pb-[10px]">
            <div class="block font-bold">Learn more</div>
            <img src="./assets/images/homepage/right-arrow-2.svg" alt="" class="ml-4 mt-0.5 max-w-full inline-block">
            <span class="block absolute border-b-[1px] border-[#dfe2e9] w-full bottom-0"></span>
        </a>
    </div>
    <div class="flex flex-col lg:flex-row justify-between gap-10 text-white lg:*:h-[640px]">
        <a href="https://www.nexlab.tech/blog/case-study-how-nexlab-used-hasura-to-digitize-daikin-vietnams-ac-servicing-business-unit" class="rounded-xl relative overflow-hidden flex-shrink-[0.5] group">
            <div class="flex items-center absolute top-5 left-5 z-10">
                <div class="size-12 mr-4">
                    <img class="rounded-full border border-white" src="./assets/images/homepage/blog-1.png" alt="">
                </div>    
                <p class="font-bold">Toan Nguyen</p>                    
            </div>
            <div class="!after:content-none after:block after:w-full after:h-full after:bg-[rgba(0,0,0,.5)] after:absolute after:top-0 w-full h-full">
                <img class="w-full h-full object-cover group-hover:scale-105 transition duration-300" src="./assets/images/homepage/blog-2.jpeg" alt="">
            </div>
            <div class="absolute bottom-5 left-5">
                <div class="heading !text-white !text-left !mb-0 !p-4">
                    <h5 class="!text-base !mb-2">CASE STUDY</h5>
                    <h2 class="!text-2xl !mb-2 !font-semibold">Case Study: How Nexlab used Hasura to digitize Daikin Vietnam’s AC servicing business unit</h2>
                    <p class="!text-base flex items-center gap-3">March 17, 2023 <i class="fa-solid fa-circle text-[4px]"></i> 10 mins read</p>
                </div>
            </div>
        </a>
        <div class="*:h-1/2 flex flex-col gap-10">
            <a href="https://www.nexlab.tech/blog/case-study-how-nexlab-used-hasura-to-digitize-daikin-vietnams-ac-servicing-business-unit" class="rounded-xl relative overflow-hidden group">
                <div class="flex items-center absolute top-5 left-5 z-10">
                    <div class="size-12 mr-4">
                        <img class="rounded-full border border-white" src="./assets/images/homepage/blog-3.jpg" alt="">
                    </div>    
                    <p class="font-bold">Quynh Pham</p>                    
                </div>
                <div class="!after:content-none after:block after:w-full after:h-full after:bg-[rgba(0,0,0,.5)] after:absolute after:top-0">
                    <img class="group-hover:scale-105 transition duration-300" src="./assets/images/homepage/blog-4.jpeg" alt="">
                </div>
                <div class="absolute bottom-5 left-5">
                    <div class="heading !text-white !text-left !mb-0 !p-4">
                        <h5 class="!text-base !mb-2">CASE STUDY</h5>
                        <h2 class="!text-2xl !mb-2 !font-semibold">Đằng sau một dự án vì cộng đồng giúp đỡ 1.000 bệnh nhân F0 mang tên Teletriage</h2>
                        <p class="!text-base flex items-center gap-3">March 17, 2023 <i class="fa-solid fa-circle text-[4px]"></i> 3 mins read</p>
                    </div>
                </div>
            </a>
            <a href="https://www.nexlab.tech/blog/case-study-how-nexlab-used-hasura-to-digitize-daikin-vietnams-ac-servicing-business-unit" class="rounded-xl relative overflow-hidden group">
                <div class="flex items-center absolute top-5 left-5 z-10">
                    <div class="size-12 mr-4">
                        <img class="rounded-full border border-white" src="./assets/images/homepage/blog-5.jpg" alt="">
                    </div>    
                    <p class="font-bold">Van Tran</p>                    
                </div>
                <div class="!after:content-none after:block after:w-full after:h-full after:bg-[rgba(0,0,0,.5)] after:absolute after:top-0">
                    <img class="group-hover:scale-105 transition duration-300" src="./assets/images/homepage/blog-6.png" alt="">
                </div>
                <div class="absolute bottom-5 left-5">
                    <div class="heading !text-white !text-left !mb-0 !p-4">
                        <h5 class="!text-base !mb-2">CASE STUDY</h5>
                        <h2 class="!text-2xl !mb-2 !font-semibold">Tự Hào Đồng Hành Cùng Daikin Vietnam</h2>
                        <p class="!text-base flex items-center gap-3">March 17, 2023 <i class="fa-solid fa-circle text-[4px]"></i> 5 mins read</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>