<div class="wrapper bg-white justify-between py-5 leading-tight left-0 right-0">
    <div class="w-[150px] h-10">
        <a href="https://www.nexlab.tech/">
            <img src="./assets/images/homepage/nav-logo.svg" alt="" class="object-contain">
        </a>
    </div>
    <ul class="flex *:nav-item">
        <li><a href="./company.html">Company</a></li>
        <li><a href="./service-solution.html">Services & Solutions</a></li>
        <li><a href="./product.html">Product</a></li>
        <li><a href="./project.html">Project</a></li>
        <li><a href="./case-study.html">Case Study</a></li>
    </ul>
    <div class="w-auto flex">
        <a class="btn" href="./contact.html">Contact</a>
    </div>
</div>