<div class="sticky w-full bg-white">
    <div class="wrapper justify-between py-5 leading-tight">
        <div class="w-[150px] h-10">
            <a href="https://www.nexlab.tech/">
                <img src="./assets/images/homepage/nav-logo.svg" alt="" class="object-contain">
            </a>
        </div>
        <div class="p-3 lg:hidden js-nav-mb-btn">
            <img class="size-5" src="./assets/images/homepage/nav-mb.svg" alt="">
        </div>
        <ul class="hidden lg:flex *:nav-item">
            <li><a href="./company.html">Company</a></li>
            <li><a href="./service-solution.html">Services & Solutions</a></li>
            <li><a href="./product.html">Product</a></li>
            <li><a href="./project.html">Project</a></li>
            <li><a href="./case-study.html">Case Study</a></li>
        </ul>
        <div class="w-auto hidden lg:flex">
            <a class="btn" href="./contact.html">Contact</a>
        </div>
    </div>
    <div class="wrapper !w-full px-[7.5%] !hidden js-nav-mb pb-5 transition-all duration-300 animate-fade-down shadow-[0_50px_30px_rgba(0,0,0,.06)]">
        <ul class="[&_a]:!w-full [&_a]:block *:py-5 w-full">
            <li><a href="./company.html">Company</a></li>
            <li><a href="./service-solution.html">Services & Solutions</a></li>
            <li><a href="./product.html">Product</a></li>
            <li><a href="./project.html">Project</a></li>
            <li><a href="./case-study.html">Case Study</a></li>
            <a class="btn max-w-min !py-3" href="./contact.html">Contact</a>
        </ul>
    </div>
</div>