<div class="wrapper flex-col pt-[70px] pb-[130px]">
    <div class="heading !mb-20">
        <h5>TEAM</h5>
        <h2>Our leadership team</h2>
        <p>We've been delivered many successfull projects. In order to doing so, we gathered experts from various domains.</p>
    </div>
    <div class="flex justify-around flex-wrap w-full *:w-full md:*:w-1/2 lg:*:w-1/4 *:flex *:flex-col *:items-center">
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div class="relative !after:content-none before:absolute before:block before:w-full before:h-full before:top-0 before:bg-transparent before:rounded-xl before:z-10 before:group-hover:bg-[rgba(255,120,71,.5)] before:transition-all before:duration-300">
                    <img class="h-[330px] bg-[#e1e4eb] rounded-xl mb-6 grayscale-0 object-cover " src="./assets/images/homepage/team-1.png" alt="">
                </div>
                    <div class="absolute size-12 bottom-[14%] right-[6%] grayscale group-hover:grayscale-0 z-10">
                    <img src="./assets/images/homepage/linkedin.svg" alt="">
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Thi Huynh</h4>
            <p class="text-[#6e7687]">Founder & CEO</p>
        </a>
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div class="relative !after:content-none before:absolute before:block before:w-full before:h-full before:top-0 before:bg-transparent before:rounded-xl before:z-10 before:group-hover:bg-[rgba(255,120,71,.5)] before:transition-all before:duration-300">
                    <img class="h-[330px] bg-[#e1e4eb] rounded-xl mb-6 grayscale-0 object-cover " src="./assets/images/homepage/team-2.png" alt="">
                </div>
                    <div class="absolute size-12 bottom-[14%] right-[6%] grayscale group-hover:grayscale-0 z-10">
                    <img src="./assets/images/homepage/linkedin.svg" alt="">
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Toan Nguyen</h4>
            <p class="text-[#6e7687]">CTO</p>
        </a>
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div class="relative !after:content-none before:absolute before:block before:w-full before:h-full before:top-0 before:bg-transparent before:rounded-xl before:z-10 before:group-hover:bg-[rgba(255,120,71,.5)] before:transition-all before:duration-300">
                    <img class="h-[330px] bg-[#e1e4eb] rounded-xl mb-6 grayscale-0 object-cover" src="./assets/images/homepage/team-3.png" alt="">
                </div>
                    <div class="absolute size-12 bottom-[14%] right-[6%] grayscale group-hover:grayscale-0 z-10">
                    <img src="./assets/images/homepage/linkedin.svg" alt="">
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Sunny Tran</h4>
            <p class="text-[#6e7687]">VP of Project</p>
        </a>
        <a href="https://www.linkedin.com/" class="group">
            <div class="relative *:transition-all *:duration-300">
                <div class="relative !after:content-none before:absolute before:block before:w-full before:h-full before:top-0 before:bg-transparent before:rounded-xl before:z-10 before:group-hover:bg-[rgba(255,120,71,.5)] before:transition-all before:duration-300">
                    <img class="h-[330px] bg-[#e1e4eb] rounded-xl mb-6 grayscale-0 object-cover " src="./assets/images/homepage/team-4.png" alt="">
                </div>
                    <div class="absolute size-12 bottom-[14%] right-[6%] grayscale group-hover:grayscale-0 z-10">
                    <img src="./assets/images/homepage/linkedin.svg" alt="">
                </div>
            </div>
            <h4 class="mb-2 text-2xl font-bold">Robert Vo</h4>
            <p class="text-[#6e7687]">Advisor - Data Scientist</p>
        </a>
    </div>
</div>